body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier';
  background-color: #d3d3d3;
  min-height: 100vh;

  .keyboard_display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .keyboard_right_part {
      display: flex;
    }

    .border_spaces {
      margin: 0 2px;
    }

    .detected {
      animation: highlight 1s linear forwards;
    }
  }

  .footer {
    margin-top: 20px;
    font-size: 12px;
  }

  .link {
    color: #0056b3;
    text-decoration: none;
  }
}

@keyframes highlight {
  0% {
    background-color: #2f5233;
    color: #fff;
  }
  100% {
    background-color: #59981a;
    color: #fff;
  }
}
